* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.logo{
    margin-top: 63px;
}

.logo-title{
    font-size: 80px;
    line-height: 94px;
    color: #000;
}

.bg-title{
    color: aqua;
}

.menu{
    display: flex;
    margin-top: 38px;
    justify-content: center;
    background: #35444F;
}

.menu-item{
    padding: 23px 32px;
    border-left: 1px solid #FFFFFF;
    transition: 0.5s;
}

.menu-item:hover{
    background: #222F3A;
}

.menu-link{
    color: #FFFFFF;
}

.sideMenu{
    margin-top: 48px;
    display: inline-block;
    border: 1px solid #000;
}

.sideMenu-section{
    width: 344px;
}

.sideMenu-item{
    font-size: 27px;
    line-height: 27px;
    color: #495863  ;
    padding: 30px 44px;
    transition: 0.5s;
}

.sideMenu-item:hover{
    background:  #DBDBDB;
    text-align: center;
}

.info{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.img-text-block{
    width: 885px;
    margin-top: 48px;
}

.img-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.info-img{
    margin: 75px;
}

.text-block{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.info-text{
    margin-top: 34px;
}

.foot-block{
    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}

.footInfo{
    display: flex;
    justify-content: space-between;
}

.foot-menu{
    display: flex;
    font-size: 28px;
    line-height: 28px;
}

.foot-item{
    padding: 20px;
    transition: 0.5s;
}

.foot-item:hover{
    color: #3181A6;
    text-decoration: underline;
}

.foot-text{
    padding: 20px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
