* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.top-section {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Sections-background/section-1(header).jpg');
    background-attachment: fixed;
    background-position: bottom;
}

.header-menu-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    padding-top: 0;
    height: 120px;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);

}

.header-menu-logo {
    padding-right: 295px;
    display: flex;
    align-content: center;
    align-items: center;
}

.logo-link {
    display: flex;
    text-decoration: none;
    align-content: center;
    align-items: center;
}

.hexagon {
    width: 60px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
    background-color: #18CFAB;
}

.hexagon-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.header-menu-title {
    font-weight: normal;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
}

.title-ham {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
}

.header-menu-list {
    display: flex;
    align-items: center;
}

.header-menu-item {
    padding: 10px;
    text-align: center;
}

.header-menu-center {
    display: contents;
}

.header-menu-link {
    padding-bottom: 49px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);;
}

.header-menu-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}
.header-search {
    cursor: pointer;
}

.top-section-title-block {
    padding-top: 365px;
    text-align: center;

}

.text-color {
    color: #18CFAB;
}

.up-title {
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.center-title {
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.down-title {
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.top-section-button {
    padding-top: 115px;
    padding-bottom: 240px;
}

.top-section-btn {
    margin: 13px;
    border-radius: 5px;
    box-shadow: 0 -4px #FFFFFF;
}

.green-btn {
    padding: 23px 20px;
    background: #18CFAB;
    cursor: pointer;
}

.blue-btn {
    padding: 23px 10px;
    background: #00CBF6;
    cursor: pointer;
}

.text-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.section-features {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

.features-block {
    text-align: center;
}

.features-different, .features-unlimited {
    padding-top: 95px;
    background: #1C2A33;
}

.features-responsive, .features-fully {
    padding-top: 105px;
    background: #18CFAB;
}

.features-style-text {
    padding-bottom: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.features-different-title, .features-unlimited-title {
    padding-top: 50px;
    color: #18CFAB;
}

.features-fully-title, .features-responsive-title {
    padding-top: 60px;
    color: #FFFFFF;
}

.our-services {
    width: 100%;
    background: #FFFFFF;
}

.services-title-section {
    margin: 0 auto;
    padding-bottom: 90px;
    background-color: #FFFFFF;;
}

.our-services-title {
    padding-top: 80px;
}

.title-h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
}

.title-h2::after {
    content: '';
    margin: 0 auto;
    width: 80px;
    height: 3px;
    display: block;
    background-color: #18CFAB;
    transform: translateY(25px);
    box-shadow: 15px 5px #18CFAB;
}

.our-services-list {
    margin-top: 100px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.our-services-item {
    padding: 16px;
    width: 195px;
    border: 2px solid #F8FCFE;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #717171;
    background: #F8FCFE;
}

.our-services-item:hover {
    border: 2px solid #18CFAB;
    cursor: pointer;
}
.service-info {
    display: none;
}
.service-info-active {
    display: flex;
}
.service-img-frame {
    margin-right: 15px;
}
.service-img {
    width: 190px;
    height: 140px;
}
.service-info-text {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.select-service {
    background: #18CFAB;
    color: white;
    position: relative;
}
.select-service::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: #18CFAB;
    transform: rotate(45deg);
    position: absolute;
    bottom: -10px;
    right: 83px;
}

.buy-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Sections-background/section-2.jpg');
    background-attachment: fixed;
    background-position: bottom;
}

.buy-offer-title {
    padding-top: 125px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.buy-offer-subtitle {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #D8D8D8;
}

.buy-offer-btn {
    padding: 23px 10px;
    margin: 70px auto 125px;
    border-radius: 5px;
    box-shadow: 0 -4px #FFFFFF;
    background-color: #18CFAB;
    cursor: pointer;
}


.amazing-work {
    display: flex;
    background: #E9EDEF;
}

.amazing-work-title {
    padding-top: 95px;
}

.amazing-work-list {
    display: flex;
    justify-content: center;
    padding:110px 0 70px;
}

.work-list-item {
    padding: 15px;
    border: 1px solid #DADADA;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    box-sizing: border-box;
}

.work-list-item:hover {
    cursor: pointer;
}
.work-list-item-selected {
    color: #18CFAB;
    border-color: #18CFAB;
}

.work-list-item:first-child {
    padding: 15px 30px;
}

.work-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}

.work-item {
    width: 25%;
    height: 205px;
}

.work-item:hover .work-img {
    display: none;
}

.work-item:hover .work-item-hover {
    display: flex;
}

.work-img {
    width: 100%;
    height: 100%;
}

.load-more-btn {
    margin: 0 auto 100px;
    background-color: #18CFAB;
    width: 170px;
    height: 65px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.work-item-hover {
    background-color: #E9EDEF;
    border-top: 2px solid #18CFAB;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}
.work-item-top {
    display: flex;
    justify-content: center;
    margin: 50px 0 40px;
}
.work-item-chain-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E9EDEF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #18CFAB;
    margin-right: 5px;
}
.work-item-chain-wrap:hover {
    background-color: #18CFAB;
}
.work-item-chain-wrap:hover svg path {
    fill: white;
}
.work-item-square-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E9EDEF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #18CFAB;
}
.work-item-square-wrap:hover {
    background-color: #18CFAB;
}
.work-item-square-wrap:hover .work-item-square {
    background-color: white;
}
.work-item-square {
    width: 12px;
    height: 12px;
    background-color: #18CFAB;
}

.work-item-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-item-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
}
.work-item-class {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    text-transform: capitalize;
}


.breaking-news {
    height: 955px;
}

.breaking-news-title {
    padding-top: 80px;
}

.news-items {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-article {
    position: relative;

}
.news-article-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-decoration: none;
}
.news-article-link:hover .article-date {
    background-color: #18CFAB;
}
.news-article-link:hover .article-heading {
    color: #18CFAB;
}
.article-date {
    width: 70px;
    height: 70px;
    background: #203E38;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}
.article-img {
    display: block;
    width: 263px;
    height: 208px;
}
.article-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.news-article:nth-child(3) .article-bottom {
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
}
.article-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    text-transform: capitalize;
}
.article-info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}
.article-author {
    position: relative;
}
.article-author::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #777777;
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
}


.people-say {
    height: 850px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Sections-background/section-3.jpg');
    background-attachment: fixed;
    background-position: bottom;
}

.people-say-title {
    padding-top: 100px;
    color: #FFFFFF;
}

.people-say-commas {
    padding: 100px 0 35px;
    text-align: center;

}
.people-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 -9px;
}

.people-name {
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}
.people-text, .people-position {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}

.slider-people-frame {
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
    overflow: hidden;
}
.slider-people-photo {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.people-photo-frame {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 0.2);
    overflow: hidden;
}
.people-photo {
    margin: 0 auto;
    width: 142px;
    height: 142px;
}
.slick-dots{
    margin-left: 15px;
}
.slick-disabled{
    margin-left: 15px;
}

.slider-people {
    margin-bottom: 45px;
}
.slider-people-nav {
    width: 500px;
    margin: 0 auto;
    display: flex;
}
.slider-nav {
    width: 380px;
    margin: 0 auto;
}

.slider-nav .slick-slide {
    outline: none;
    margin: 0 15px 0 11px;
}
.slider-nav .slick-track {
    padding-top: 15px;
}
.slick-track{
    margin-left: 35px;
    margin-right: 0;
}

button[id*='slick-slide-control'] {
    display: none;
}
.slick-current  {
    transition: 0.3s transform linear;
    transform: translateY(-15px);
    overflow: hidden;
}
/*.slider-people-frame:active {*/
/*    transform: translateY(-15px);*/
/*}*/

.front-slick-btn {
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    outline: none;
    transform: translateY(33px);
    text-align: -webkit-center;
}
.front-slick-btn:hover {
    background-color: #18CFAB;
}
.front-slick-btn:hover .front-arrow-btn {
    border-top-color: white;
    border-left-color: white;
}
.front-arrow-btn {
    width: 10px;
    height: 10px;
    border-top: 2px solid #BBBBBB;
    border-left: 2px solid #BBBBBB;
    transform: rotate(-45deg) translate(3px, 4px);
    cursor: pointer;
}

.next-slick-btn{
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    outline: none;
    transform: translateY(33px);
    text-align: -webkit-center;
    cursor: pointer;
}
.next-slick-btn:hover {
    background-color: #18CFAB;
}
.next-slick-btn:hover .next-arrow-btn {
    border-top-color: white;
    border-right-color: white;
}
.next-arrow-btn {
    width: 10px;
    height: 10px;
    border-top: 2px solid #BBBBBB;
    border-right: 2px solid #BBBBBB;
    transform: rotate(45deg) translate(-1px, 1px);
}



.footer-ham {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #22353F;
}

.copyright-ham {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

