* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.menu{
    margin-top: 26px;
    margin-bottom: 26px;
}

.menu-list{
    display: flex;
    justify-content: center;
}

.menu-list-item {
    margin-left: 72px;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style-type: none;
}
.menu-list-link{
    color: #FF0000;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: none;
}

.image{
    margin-bottom: 49px;
    height: auto;
    width: 100%;
}

.info{
    text-align: center;
}

.info-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #373737;
    margin-bottom: 38px;
}

.info-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #373737;
    margin-bottom: 66px;
}
.info-link{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 4px;
    padding: 17px 43px;
    text-decoration: none;
}

.foot{
    display: flex;
    justify-content: end;
}

.foot-text{
    color: #373737;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-top: 82px;
    margin-bottom: 29px;
}