.shell {
    width: 100vw;
    height: 100vh;
    background-color: #020000;
    display: flex;
    align-items: center;
}
.credits {
    width: 80%;
    height: 70%;
    background-color: #020000;
    margin: 0 auto;
    overflow: hidden;
    perspective: 800px;
    perspective-origin: top;
}
.floating-text {
    color: #ffd500;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-size: 50px;
    line-height: 100px;
    transform: rotateX(75deg);
    animation-name: moveText;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.main-title, .subtitle {
    text-transform: uppercase;
    text-align: center;
}

@keyframes moveText {
    0% {
        transform: rotateX(75deg) translateY(500px) translateZ(0);
    }
    100% {
        transform: rotateX(75deg) translateY(-2000px) translateZ(-200px);
    }
}