*{
    font-family: Ubuntu, sans-serif;
}

.page{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-head{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.head-section{
    padding: 18px 79px;
}

.head-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.head-title:hover{
    color: #236D47;
}

.side-section{
    display: flex;
    padding-top: 18px;
    padding-right: 79px;
}

.head-item, .log-link, .sign-up-link{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.calendar{
    padding-left: 25px;
    cursor: pointer;
}

.mail{
    padding-left: 25px;
    cursor: pointer;
}

.compass{
    padding-left: 25px;
    cursor: pointer;
}

.compass:hover path, .calendar:hover path, .mail:hover path {
    fill: #236D47;
}

.log-link:hover {
    color: #236D47;
}

.sign-up-link:hover {
    color: #236D47;
}

.welcome{
    padding-left: 25px;
}

.welcome:before{
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-left: 27px;
    opacity: 0.5;
}

.frame-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.frame{
    background-color: #FFFFFF;
    padding: 30px 60px 40px;
    box-sizing: border-box;
    width: 445px;
    position: relative;
}

.frame-head{
    display: flex;
    justify-content: space-between;
}

.sign-up-head{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sign-up-head::before{
    content: '';
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    top: 29px;
}

.frame-link{
    font-size: 14px;
    line-height: 14px;
    color: #01813F;
}

.frame-link:hover{
    text-decoration: underline;
}

.socials{
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-content: space-around;
}

.social-icon{
    position: relative;
}

.social-icon::after{
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    right: -15px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.social-link-fb{
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding: 16px 20px;
    margin-bottom: 32px;
    background: #022263;
}

.social-link-google{
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding: 18px 20px;
    margin-bottom: 32px;
    background: #AB1F09;
}

.social-name{
    font-size: 16px;
    line-height: 16px;
    margin-left: 38px;
    color: #FFFFFF;
}

.delimiter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.delimiter::before, .delimiter::after {
    content: '.';
    font-size: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
}

.or {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    padding: 5px;
}

.form-input{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    height: 45px;
    padding-left: 20px;
    box-sizing: border-box;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.terms-conditions {
    width: 100%;
    align-self: flex-start;
    margin-bottom: 20px;
}

.conditions{
    cursor: pointer;
}

.terms {
    color: #3CB878CC;
    text-transform: capitalize;
}

.terms:hover {
    text-decoration: underline;
    color: #01813F;
}

.create-btn {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #01813F;
}
