*{
    font-family: sans-serif;
}

.page{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 1028px;
    margin: 0 auto;
}

.page-head{
    display: flex;
    justify-content: space-between;
}

.head-logo{
    display: flex;
    margin-top: 51px;
}

.head-logo:hover .logo-main-title, .head-logo:hover .logo-subTitle{
    color: #F26522;
}

.head-logo:hover .head-logo-img{
    content: url("../images/logo 2.png");
}

.head-logo-item{
    margin-left: 8px;
}

.logo-main-title{
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.logo-subTitle{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.head-contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 46px;
    transition: 0.5s;
}

.head-contacts a:hover{
    color: #F26522;
}

.tel{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.mailto{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.section{
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 61px;
    grid-row-gap: 37px;
}

.section-item{
    display: grid;
    position: relative;
    height: 260px;
}

.section-img{

}

.main-item{
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    justify-self: center;
}

.info-hover{
    display: flex;
    justify-content: space-between;
    background: #F26522;
    position: absolute;
    width: 100%;
    visibility: hidden;
    /*transition: 0.5s;*/
}

.tour-info{
    margin: 7px 0 12px 16px;
}

.from{
    font-size: 10px;
    line-height: 10px;
    color: #FFF;
}

.price-block{
    margin-top: 8px;
}

.price{
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
}

.section-item:hover .main-item{
    color: #F26522;
}

.section-item:hover .info-hover{
    visibility: visible;
    bottom: 38px;
}

.tour-details{
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    margin-right: 37px;
    position: relative;
}

.details{
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
}

.details:after{
    content: "";
    border: 1px solid #fff;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    border-bottom: none;
    border-left: none;
    position: absolute;
    right: -16px;
    bottom: 3px;
}

.foot{
    display: flex;
    justify-content: center;
    margin-top: 49px;
    margin-bottom: 15px;
}

.foot-item{
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}