* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}
ul li{
    text-decoration: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.container {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}

.top-menu {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #313131;

}

.top-menu-left {
    display: flex;
    align-content: center;
    align-items: center;

}

.logo-top-menu {
    padding: 0 27px;
    background-color: #313131;
}

.top-menu-title {
    font-weight: 700;
    align-items: center;
    text-align: center;
    font-size: 22px;
    color: #FFFFFF;
}

.top-menu-list {
    display: flex;
    align-items: center;
}

.top-menu-item {
    padding: 18px;
    text-align: center;
}

.top-menu-search {
    padding: 26px;
    background-color: #000000;
}

.top-menu-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.top-menu-link:hover {
    color: #14B9D5;
}

.header-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/homework4-architect.jpeg");
    background-attachment: fixed;
    background-position: bottom;
}

.header-title {
    padding-top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #FFFFFF;
}

.header-top-btn {
    margin-top: 30px;
}

.header-btn {
    margin: 10px;
    border-radius: 5px;
}

.green-btn {
    padding: 15px 20px;
    background: #89CA62;
}

.blue-btn {
    padding: 15px 30px;
    background: #14B9D5;
}

.header-link-btn {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.container-block {
    width: 1170px;
    margin: 0 auto;
}

.posts-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
    background: #F2F2F2;
}

.posts-title {
    padding: 45px 0 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
}

.posts-image-block {
    height: 920px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.posts-articles-item {
    margin-top: 30px;
    text-align: center;
}

.posts-articles-title {
    padding: 20px 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #353A3D;
    background-color: #ffffff;
}

.articles-img {
    width: 100%;
}

.clients-block {
    display: grid;
    justify-items: center;
    grid-template-rows:38% 2% 60%;
    align-items: center;
    height: 588px;
    background-image: url("../img/homework4-design.jpeg");
    background-attachment: fixed;
    background-repeat: initial;
    background-position: center;
}

.clients-block-title {
    padding: 105px 0 74px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;

}

.blue-line {
    margin: 0 auto 0;
    width: 60px;
    background: #18B4CF;
    border: 1px solid #18B4CF;
}

.clients-block-images {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
}

.clients-img {
    padding: 10px;
}

.top-rated {
    display: grid;
    justify-items: center;
    align-items: center;
}

.top-rated-title {
    padding: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
}

.rated-img-block {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
}

.top-rated-img {
    width: 100%;
}

.hot-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:auto 259px 418px 416px 259px;
    justify-items: center;
    align-content: center;
    row-gap: 45px;
    background: rgba(0, 0, 0, 0.0001);
}

.hot-news-title {
    padding: 50px 0 5px 0;
    justify-items: center;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
}

.news-prophesy-hotel {
    display: grid;
    justify-self: start;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr 1fr;
    background: #F9F7F7;
}

.prophesy-hotel {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.hot-news-img {

}

.prophecy-hotel-title {
    grid-column: 2 / 3;
    padding: 40px 23px 15px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: #353A3D;
}

.prophecy-hotel-text {
    width: 350px;
    justify-self: end;
    grid-column: 2 / 3;
    padding: 0 24px 40px 4px;
    align-items: center;
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5B6469;
}

.news-nebula-hotel {
    justify-self: end;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: #F9F7F7;
}

.nebula-hotel-img {
    justify-self: end;
}

.nebula-hotel-title {
    justify-self: end;
    width: 277px;
    padding: 14px 0 9px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}

.western-pyramid-hotel {
    width: 554px;
    justify-self: start;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background: #F9F7F7;
}

.western-hotel-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    padding: 12px 14px 15px;
    color: #353A3D;
}

.western-hotel-text {
    padding-left: 13px;
    align-items: center;
    text-align: right;
    padding-right: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5B6469;
}

.grand-meadows-hotel {
    width: 554px;
    justify-self: end;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    background: #F9F7F7;
}

.grand-meadows-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    padding: 12px 14px 15px;
    color: #353A3D;
}

.grand-meadows-text {
    padding-left: 13px;
    align-items: center;
    text-align: right;
    padding-right: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5B6469;
}

.wanderlust-resort-hotel {
    width: 554px;
    justify-self: start;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background: #F9F7F7;
}

.wanderlust-resort-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    padding: 12px 14px 15px;
    color: #353A3D;
}

.wanderlust-resort-text {
    padding-left: 13px;
    align-items: center;
    text-align: right;
    padding-right: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5B6469;
}

.twin-sanctuary-hotel {
    width: 554px;
    justify-self: end;
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    background: #F9F7F7;
}

.twin-sanctuary-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    padding: 12px 14px 15px;
    color: #353A3D;
}

.twin-sanctuary-text {
    padding-left: 13px;
    align-items: center;
    text-align: right;
    padding-right: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5B6469;
}


.prism-hotel {
    justify-self: start;
    height: 259px;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    background-color: #F9F7F7;
}

.prism-hotel-title {
    padding: 5px 0 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}

.king-shroud-img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.king-shroud-hotel {
    display: grid;
    justify-self: end;
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr 1fr;
    background: #F9F7F7;
}

.king-shroud-title {
    grid-column: 2 / 3;
    padding: 40px 23px 15px 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: #353A3D;
}

.king-shroud-text {
    width: 350px;
    justify-self: end;
    grid-column: 2 / 3;
    padding: 0 23px 40px 4px;
    align-items: center;
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5B6469;
}


.footer-arc {
    margin-top: 77px;
    height: 80px;
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr;
    background-color: #000000;
}

.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
}

.footer-img {
    justify-self: flex-end;
}

.footer-img-object {
    justify-self: flex-start;
}


.block-nav {
    margin: 0 auto;
    background-color: grey;
}


.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-item {
    padding: 40px;
}
.nav-link{
    height: 14px;
}

.nav-link:hover {
    color: #3CB878;
}
.slide-tog {
    display: block;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background-color: #DF4A32;
    outline: none;
    border: none;
}

.link-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 20px;
    border-radius: 5px;
    background-color: seagreen;
}
