*{
    font-family: sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.nav{
    display: flex;
    background: #313131;
    justify-content: space-between;
}

.nav-logo{
    display: flex;
}

.nav-logo-img{
    margin: 21px 27px;
}

.nav-item{
    margin-top: 22px;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.nav-menu{
    margin-top: 27px;
}

.menu{
    display: flex;
}

.menu-item{
    text-transform: uppercase;
    margin-left: 35px;
    font-size: 15px;
    line-height: 20px;
}


.menu-link{
    transition: 0.5s;
    color: #FFF;
}

.menu-link:hover{
    color: #14B9D5;
}

.nav-search{
    background: #000;
    padding: 26px 26px;
}

.main-block{
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 163px;
    width: 100%;
    padding-bottom: 74px;
    text-align: center;
}

.main-block-title{
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

.block-link-green,
.block-link-blue{
    margin-left: 20px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.block-link-green{
    background: #89CA62;
    padding: 17px 19px;
}

.block-link-blue{
    background: #14B9D5;
    padding: 17px 29px;
}

.ourPosts-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-align: center;
    margin-top: 49px;
}

.ourPosts-goods{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 900px;
    margin-top: 52px;
}

.ourPosts-item{
    margin-top: 52px;
}

.ourPosts-text{
    width: 341px;
    padding: 21px 15px;
    background: #F2F2F2;
}

.ourClients{
    background-image: url(../images/main-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 108px;
    padding-bottom: 203px;
    margin-top: 74px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "ourTitle ourTitle ourTitle ourTitle"
    "line line line line"
    "img1 img2 img3 img4";
    justify-items: center;
}

.ourClients-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    grid-area: ourTitle;
}

.block-line{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: none;
    margin-top: 87px;
    margin-bottom: 106px;
    grid-area: line;
}

.block-image-first{
    grid-area: img1;
}
.block-image-second{
    grid-area: img2;
}
.block-image-third{
    grid-area: img3;
}
.block-image-fourth{
    grid-area: img4;
}

.rated{
    display: grid;
    justify-items: center;
    align-items: center;
}

.rated-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 49px;
    margin-bottom: 52px;
}

.rated-block{
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
}

.rated-img{
    width: 100%;
}

.news{
    display: grid;
    grid-template-areas: "news-title news-title news-title news-title"
    "block1 block1 block1 block2"
    "block3 block3 block4 block4"
    "block5 block5 block6 block6"
    "block7 block8 block8 block8";
    justify-items: center;
    row-gap: 43px;
}

.news-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 48px;
    margin-bottom: 51px;
    grid-area: news-title;
}

.news-subBlock{
    text-align: right;
    background: #F9F7F7;
}

.news-block-title{
    color: #353A3D;
    padding-top: 14px;
    padding-right: 14px;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    font-weight: bold;
}

.news-subBlock-item{
    padding-bottom: 11px;
    text-align: center;
    background: #F9F7F7;
}

.news-item{
    padding-right: 14px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.news-block-one{
    grid-area: block1;
    margin-right: 35px;
    display: flex;
}
.news-block-two{
    grid-area: block2;
}
.news-block-three{
    grid-area: block3;
    margin-right: 60px;
}
.news-block-four{
    grid-area: block4;
}
.news-block-five{
    grid-area: block5;
    margin-right: 60px;
}
.news-block-six{
    grid-area: block6;
}
.news-block-seven{
    grid-area: block7;
    margin-right: 35px;
}
.news-block-eight{
    grid-area: block8;
    display: flex;
}

.foot-section{
    background: #000;
}

.foot{
    display: grid;
    margin-top: 77px;
    height: 80px;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr;
}

.foot-block{
    justify-items: start;
}

.foot-item{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.foot-logo-img{
    justify-self: flex-end;
}

.foot-block-img{
    justify-self: flex-start;
}


